:root {
  --bg-dark: #EBEBEB;
  --bg-light: #F9F9F9;
}

#nav {
  background-color: var(--bg-light);
}

#aboutMeSection {
  background-color: var(--bg-light);
}

#educationSection {
  background-color: var(--bg-dark);
}

#projectSection {
  background-color: var(--bg-light);
}

#skillSection {
  background-color: var(--bg-dark);
}

#contact {
  background-color: var(--bg-light);
}

#footer {
  background-color: var(--bg-dark);
}

.App {
  text-align: center;
}
